![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

### Impacto de industria carnica vs agricultura

### TEMA

En la cultura vegana se defiende fuertemente que la industria carnica es uno de las
grandes causas del cambio climatico. Existen informes donde se refleja el consumo de recursos y 
las emisiones que produce dicha industria pero, cuan dispares son a los generados por 
la la agricultura?
Con este EDA buscamos contrastar las emisiones generadas por ambas industrias para tener una vision mas clara del daño que produce el consumo de productos carnicos, no solo a nuestra salud, sino a al planeta.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

hipotesis_1 = "Industria cárnica es la causante del 86% de las emisiones de la industria alimenticia"

hipotesis_2 = "El 70% de las plantaciones agricolas de la UE se destinan a alimentación de ganado"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [11]:
import pandas as pd
# guarda en variables los datasets y su fuente
url1 = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/APRO_MT_LSCATL$DEFAULTVIEW/?format=TSV"
df_1 = pd.read_table(url1, ) #bovine population
fuente_1 = "https://ec.europa.eu/eurostat/databrowser/view/APRO_MT_LSCATL/default/table?lang=en", "Bovine population"

url2= "https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/ENV_AIR_GGE$DV_447/?format=SDMX-CSV&lang=en&label=label_only"
df_2 = pd.read_csv(url2, index_col= "TIME_PERIOD") #greenhouse emision agriculture
fuente_2 = "https://ec.europa.eu/eurostat/databrowser/view/TAI08/default/table?lang=en"


df_3=pd.read_csv("data/total-ghg-emissions.csv")
fuente_3= "https://ourworldindata.org/"  #globaltotalemisions

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
df_1.head()

,"freq,animals,month,unit,geo\TIME_PERIOD",2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"A,A2000,M12,THS_HD,AL",:,499.69,505.77 e,496.99 p,475.22,467.32,415.61,362.58,336.78,:
1,"A,A2000,M12,THS_HD,AT",1958.28,1961.20,1957.61,1954.39,1943.48,1912.81,1879.52,1855.43,1870.10,1861.07
2,"A,A2000,M12,THS_HD,BA",447.00 e,444.00 e,455.00 e,455.00 e,445.00 e,438.00,430.00 e,427.00 e,:,:
3,"A,A2000,M12,THS_HD,BE",2441.32,2477.24,2503.26,2501.35,2385.99,2398.09,2373.10,2335.44,2310.44,2286.11
4,"A,A2000,M12,THS_HD,BG",585.55,562.36,561.04,570.14,552.92 p,542.12,527.19,588.91,611.20,579.86

In [7]:
df_2.head()

,DATAFLOW,LAST UPDATE,freq,unit,airpol,src_crf,geo,OBS_VALUE,OBS_FLAG
TIME_PERIOD,,,,,,,,,
2012,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,Austria,7.21242,NaN
2013,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,Austria,7.21117,NaN
2014,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,Austria,7.34622,NaN
2015,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,Austria,7.37600,NaN
2016,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,Austria,7.48882,NaN

In [14]:
df_3.head()

        Entity Code  Year  Annual greenhouse gas emissions in CO2 equivalents
0  Afghanistan  AFG  1850                                          7299493.5
1  Afghanistan  AFG  1851                                          7373215.0
2  Afghanistan  AFG  1852                                          7422393.5
3  Afghanistan  AFG  1853                                          7483596.0
4  Afghanistan  AFG  1854                                          7532321.5