![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

### Impacto de industria carnica vs agricultura

### TEMA

En la cultura vegana se defiende fuertemente que la industria carnica es uno de las
grandes causas del cambio climatico. Existen informes donde se refleja el consumo de recursos y 
las emisiones que produce dicha industria pero, cuan dispares son a los generados por 
la la agricultura?
Con este EDA buscamos contrastar las emisiones generadas por ambas industrias para tener una vision mas clara del daño que produce el consumo de productos carnicos, no solo a nuestra salud, sino a al planeta.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

hipotesis_1 = "Industria cárnica es la causante del 86% de las emisiones de la industria alimenticia"
hipotesis_2 = "El 70% de las plantaciones agricolas de la UE se destinan a alimentación de ganado"

In [ ]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Industria cárnica es la causante del 86% de las emisiones de la industria alimencia"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = ""
# hipotesis_3 = ""
# hipotesis_4 = ""gngchjcghmj
# hipotesis_5 = ""
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [55]:
import pandas as pd
# guarda en variables los datasets y su fuente
url1 = "https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/APRO_MT_LSCATL$DEFAULTVIEW/?format=TSV"
df_1 = pd.read_table(url1, index_col = "animals") #bovine population
fuente_1 = "https://ec.europa.eu/eurostat/databrowser/view/APRO_MT_LSCATL/default/table?lang=en", "Bovine population"

url2= "https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/ENV_AIR_GGE$DV_447/?format=SDMX-CSV&lang=en&label=label_only"
df_2 = pd.read_csv(url2, index_col= "geo") #greenhouse emision agriculture
fuente_2 = "https://ec.europa.eu/eurostat/databrowser/view/TAI08/default/table?lang=en"

ValueError: Index animals invalid

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [52]:
df_1.head(20)

,"freq,animals,month,unit,geo\TIME_PERIOD",2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"A,A2000,M12,THS_HD,AL",:,499.69,505.77 e,496.99 p,475.22,467.32,415.61,362.58,336.78,:
1,"A,A2000,M12,THS_HD,AT",1958.28,1961.20,1957.61,1954.39,1943.48,1912.81,1879.52,1855.43,1870.10,1861.07
2,"A,A2000,M12,THS_HD,BA",447.00 e,444.00 e,455.00 e,455.00 e,445.00 e,438.00,430.00 e,427.00 e,:,:
3,"A,A2000,M12,THS_HD,BE",2441.32,2477.24,2503.26,2501.35,2385.99,2398.09,2373.10,2335.44,2310.44,2286.11
4,"A,A2000,M12,THS_HD,BG",585.55,562.36,561.04,570.14,552.92 p,542.12,527.19,588.91,611.20,579.86
5,"A,A2000,M12,THS_HD,CH",:,:,1567.14,1560.09,1560.73,1540.24,1528.92,1518.16,1529.76,1536.19
6,"A,A2000,M12,THS_HD,CY",57.08,59.54,58.86,63.14,67.03,70.82,73.97,83.03,84.61,81.44
7,"A,A2000,M12,THS_HD,CZ",1332.08,1373.07,1366.33,1339.60,1366.36,1365.24,1367.05,1340.04,1359.42,1390.49
8,"A,A2000,M12,THS_HD,DE",12685.99,12742.19,12635.46,12466.59,12281.20,11949.09,11639.53,11301.86,11039.66,10996.96
9,"A,A2000,M12,THS_HD,DK",1583.00,1553.00,1566.00,1554.00,1558.00,1530.00,1500.00,1500.00,1480.00,1466.00
10,"A,A2000,M12,THS_HD,EE",261.40,264.70,256.20,248.20,250.90,251.90,254.00,253.30,250.80,249.62
11,"A,A2000,M12,THS_HD,EL",653.00,659.00,582.00,554.00,556.00,542.00,530.00,631.50,614.10,581.60
12,"A,A2000,M12,THS_HD,ES",5802.22,6078.73,6182.91,6317.64,6465.75,6510.59,6600.33,6636.43 p,6576.30 p,6455.81 p
13,"A,A2000,M12,THS_HD,EU15",74565.58,75044.11,75661.10,75910.39,75175.58,73781.91,72924.81,:,:,:
14,"A,A2000,M12,THS_HD,EU25",84651.28,85310.98,86024.34,86439.70,85781.91,84516.78,83749.66,:,:,:
15,"A,A2000,M12,THS_HD,EU27_2007",87259.23,87942.25,88677.79,89059.54,88345.94,87036.10,86200.16,:,:,:
16,"A,A2000,M12,THS_HD,EU27_2020",78019.23,78690.25,79302.79,79697.54,79009.94,77840.10,77161.16,76551.10,75705.30 p,74838.02
17,"A,A2000,M12,THS_HD,EU28",87701.23,88383.25,89118.79,89503.54,88796.94,87450.10,86620.16,:,:,:
18,"A,A2000,M12,THS_HD,FI",903.36,907.40,903.41,887.25,874.52,859.38,840.74,835.38,829.98,821.97
19,"A,A2000,M12,THS_HD,FR",19095.80,19248.63,19386.52,19373.38,18953.58,18613.04,18172.97 d,17815.67 d,17330.08 p,16986.19

In [50]:
df_2.head(3)

,DATAFLOW,LAST UPDATE,freq,unit,airpol,src_crf,TIME_PERIOD,OBS_VALUE,OBS_FLAG
geo,,,,,,,,,
Austria,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,2012,7.21242,NaN
Austria,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,2013,7.21117,NaN
Austria,ESTAT:ENV_AIR_GGE$DV_447(1.0),28/04/23 23:00:00,Annual,Million tonnes,"Greenhouse gases (CO2, N2O in CO2 equivalent, ...",Agriculture,2014,7.34622,NaN