fuente_3= "https://ourworldindata.org/"  #globaltotalemisions

In [1]:
import pandas as pd
df_3=pd.read_csv("data/total-ghg-emissions.csv")

In [3]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37496 entries, 0 to 37495
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              37496 non-null  object
 1   Code                                                34400 non-null  object
 2   Year                                                37496 non-null  int64
 3   Annual greenhouse gas emissions in CO2 equivalents  37496 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [8]:
df_3.drop(columns="Code", inplace=True)
df_3.rename(columns={"Annual greenhouse gas emissions in CO2 equivalents":"Annual emisions"})

            Entity  Year  Annual emisions
0      Afghanistan  1850        7299493.5
1      Afghanistan  1851        7373215.0
2      Afghanistan  1852        7422393.5
3      Afghanistan  1853        7483596.0
4      Afghanistan  1854        7532321.5
...            ...   ...              ...
37491     Zimbabwe  2017       37999464.0
37492     Zimbabwe  2018       39079344.0
37493     Zimbabwe  2019       38701416.0
37494     Zimbabwe  2020       37733230.0
37495     Zimbabwe  2021       38060010.0

[37496 rows x 3 columns]