fuente_3= "https://ourworldindata.org/"  #globaltotalemisions

In [58]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
import pandas as pd
df_3=pd.read_csv("data/total-ghg-emissions.csv")
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37496 entries, 0 to 37495
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              37496 non-null  object
 1   Code                                                34400 non-null  object
 2   Year                                                37496 non-null  int64
 3   Annual greenhouse gas emissions in CO2 equivalents  37496 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [37]:
df_3.drop(columns="Code", inplace=True)

In [38]:

df_3.rename(columns={"Annual greenhouse gas emissions in CO2 equivalents":"Emisiones", "Entity": "PAIS"}, inplace=True)

In [56]:
df_pre = pd.pivot_table(df_3, index='PAIS', columns='Year', values="Emisiones", aggfunc="sum")

DF_TOTALEMISSIONS DF FINAL

In [57]:
df_totalemissions = df_pre.loc[: ,2012:]
df_totalemissions

Year,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
PAIS,,,,,,,,,,
Afghanistan,3.375029e+07,3.291279e+07,3.346103e+07,3.295040e+07,3.268460e+07,3.364396e+07,3.439022e+07,3.587448e+07,3.777789e+07,3.838893e+07
Africa,4.862142e+09,4.771323e+09,4.751795e+09,4.656470e+09,4.698851e+09,4.742433e+09,4.683634e+09,4.719214e+09,4.640355e+09,4.728741e+09
Albania,9.281504e+06,9.504178e+06,1.034336e+07,9.231435e+06,8.897308e+06,9.733296e+06,8.939390e+06,8.700098e+06,8.520600e+06,8.348606e+06
Algeria,2.306786e+08,2.345268e+08,2.480967e+08,2.579293e+08,2.618160e+08,2.693219e+08,2.789103e+08,2.814011e+08,2.765457e+08,2.812001e+08
Andorra,6.379988e+05,6.232582e+05,6.030320e+05,6.033842e+05,6.045086e+05,5.997538e+05,6.267548e+05,6.115609e+05,5.780503e+05,5.796439e+05
...,...,...,...,...,...,...,...,...,...,...
Vietnam,3.386204e+08,3.582358e+08,4.822919e+08,4.926963e+08,4.705644e+08,4.805653e+08,5.179395e+08,5.814392e+08,5.711886e+08,5.703437e+08
World,5.239318e+10,5.248306e+10,5.315534e+10,5.366048e+10,5.282262e+10,5.340529e+10,5.406630e+10,5.482132e+10,5.258525e+10,5.459320e+10
Yemen,4.595685e+07,5.494942e+07,5.268938e+07,3.247678e+07,2.804550e+07,2.783332e+07,2.748071e+07,3.169493e+07,3.148670e+07,3.140233e+07
Zambia,9.849161e+07,9.862299e+07,9.650617e+07,9.445469e+07,9.232654e+07,9.088521e+07,9.063078e+07,9.062614e+07,9.022377e+07,9.009422e+07
Zimbabwe,4.264767e+07,4.203560e+07,4.012675e+07,4.039597e+07,3.746738e+07,3.799946e+07,3.907934e+07,3.870142e+07,3.773323e+07,3.806001e+07

In [62]:
df_totalemissions.columns

Int64Index([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype='int64', name='Year')

In [59]:
plt.figure(figsize=(12,8))
sns.histplot(data = df_totalemissions, x= "AÑO");

ValueError: Could not interpret value `AÑO` for parameter `x`